---
import "../styles/global.css";
import { Font } from "astro:assets";
import { ClientRouter } from 'astro:transitions';
import LoadingIndicator from "astro-loading-indicator/component"
import { PERSONAL_INFO } from "../constants.ts";

const { title, description } = Astro.props;

const defaultTitle = `${PERSONAL_INFO.name} - ${PERSONAL_INFO.title}`;
const defaultDescription = PERSONAL_INFO.summary;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title ?? defaultTitle}</title>
		<meta name="description" content={description ?? defaultDescription} />

		<meta property="og:url" content={PERSONAL_INFO.contact.website} />
		<meta property="og:type" content="website" />
		<meta property="og:title" content={title ?? defaultTitle} />
		<meta property="og:description" content={description ?? defaultDescription} />
		<meta property="og:image" content="/social-image.png" />

		<!-- Twitter Meta Tags -->
		<meta name="twitter:card" content="summary_large_image" />
		<meta property="twitter:domain" content="lamichhanerabin.com.np" />
		<meta property="twitter:url" content={PERSONAL_INFO.contact.website} />
		<meta name="twitter:title" content={title ?? defaultTitle} />
		<meta name="twitter:description" content={description ?? defaultDescription} />
		<meta name="twitter:image" content="/social-image.png" />

		<Font cssVariable="--font-geist" preload />
		<ClientRouter />
		<LoadingIndicator color="#f4f4f5" height="2px" />

	</head>
	<body class="font-sans min-h-screen bg-zinc-900">
		<slot />
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
</style>
